    html{
  background-image:url('../earthrise.gif');
  background-repeat:repeat;
  background-attachment: fixed;
  background-size: cover;    

}
.audio{
  visibility: hidden;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  background-color:#002e66;
  max-width: 100%;
  max-height: 7vw;
  min-width: 100%;
  min-height: 7vw;
  width: auto;
  height: auto;
  z-index: 100;
  
}

.responsive {
  width: 50%;
  height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropbtn {
  background-color:#cce3ff;
  color:  #002e66;
  font-size: 3vw;
  border: 1px transparent;
  max-height: 7vw;
  height: auto;
  border-radius: 10%;
position:fixed;
  left: 30vw;
  font-family: 'Alata', sans-serif;
  top: 1.5vw;
}



/*positions dropdown box*/
.dropdown {
  position: fixed;
  display: inline-block;
  
  
}

h1{

  font-size: 5vw;
color: #FF9B38;
  text-align: center;
    font-family: 'Alata', sans-serif;
}

/*hides dropdown box by default*/
.dropdown-box{
  display: none;
position:fixed;
  left: 30vw;
  top: 5.75vw;
  background-color: #66abff;
  min-width: 20vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 2vw;
  
}

/*styles links in dropdown*/
.dropdown-box a{
  color:  #002e66;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  list-style: none;
}

/*changes color of dropdown links on hover*/
.dropdown-box a:hover{
  background-color:  #cce3ff;
  
}

/*shows dropdown box when hovering*/
.dropdown:hover .dropdown-box {
  display:block;
}

/*changes color of dropdown button on hover*/
.dropdown:hover .dropbtn{
  background-color:#FF9B38;
}

#nav-right-one li a {
  text-decoration: none;
  background-color:#cce3ff;
  color:  #002e66;
  font-size: 3vw;
  border: 1px transparent;
  max-height: 7vw;
  height: auto;
  border-radius: 10%;
  position:fixed;
  left: 45vw;
  font-family: 'Alata', sans-serif;
  top: 1.5vw;
  
}

#nav-right-two li a {
  text-decoration: none;
  background-color:#cce3ff;
  color:  #002e66;
  font-size: 3vw;
  border: 1px transparent;
  max-height: 7vw;
  height: auto;
  border-radius: 10%;
   position:fixed;
  left: 60vw;
  font-family: 'Alata', sans-serif;
  top: 1.5vw;
  
}


.header-buttons li{
  list-style: none;
}
#nav-right-one a:hover{
  background-color:#FF9B38;
}

#nav-right-two a:hover{
  background-color:#FF9B38;
}
.audio{
  visibility: hidden;
}

/* logo styles*/
.header-logo img {
 position: absolute; 
  top: 1vw;
  left: 1vw;
  max-height: 9vw;
  max-width: 14vw;
  width: auto;
  height: auto;
  background-color: #cce3ff;
  border-radius: 15%;
  
}
.header-logo img:hover {
  background-color: #FF9B38;
}


.content {
  position: fixed;
  left: 0vw;
  bottom: 0;
  background: rgba(0, 46, 102, 0.5);
  color: #cce3ff;
  width: 100%;
  padding: 20px;
}

body, html {
  height: 100%;
  font-family: 'Alata', sans-serif;
}
 h2, h6, p {
  font-family: 'Alata', sans-serif;
  color: #cce3ff;
}



  


h2{
  font-size: 3vw;
   font-family: 'Alata', sans-serif;
  color: #cce3ff;
 
}
p{
  font-size: 2vw;
  background-color:rgba(0, 46, 102, .5);
  padding: 1vw;
  
}
h6{
 font-size: 1vw;
}
.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px){

  

  h2{
    font-size: 4vw;
  }

  p{
    font-size: 3vw;
  }

  h6{
    font-size: 2vw;
  }
}

@media only screen and (max-width: 300px){

 

  h2{
    font-size: 5vw;
  }

  p{
    font-size: 4vw;
  }

  h6{
    font-size: 3vw;
  }
}

@media only screen and (max-width: 150px){

  h2{
    font-size: 6vw;
  }

  p{
    font-size: 5vw;
  }

  h6{
    font-size: 4vw;
  }
}