
\html{
  background-image:url('../stars.gif');
  background-repeat:repeat;
  background-attachment: fixed;
  background-size: cover;
}

.audio{
  visibility: hidden;
}

h3{ 
  font-size: 3vw;
}

h4{
  font-size: 2.2vw;
}
span{
  font-size:3vw;
}
.game a{
  color: #002e66;
  background-color: #cce3ff;
  width: 30vw;
  text-align: center;
  border-radius: 10%;
  font-size: 7vw;
  text-decoration: none;
  
}

.game a:hover{
  background-color: #FF9B38;
}
img{
  width: 40vw;
}
#item-one-game-shop {
  position: absolute;
  top: 50vw;
  left: 10vw;
}
.responsive {
  width: 100%;
  height: auto;
}
#item-two-game-shop {
  position: absolute;
  top: 50vw;
  left: 60vw;
}

#item-three-game-shop {
  position: absolute;
  top: 50vw;
  left: 110vw;
}

#item-four-game-shop {
  position: absolute;
  top: 200vw;
  left: 10vw;
}
#item-five-game-shop {
  position: absolute;
  top: 125vw;
  left: 10vw;
}

#item-six-game-shop {
  position: absolute;
  top: 125vw;
  left: 60vw;
}

#item-seven-game-shop {
  position: absolute;
  top: 125vw;
  left: 110vw;
}

#item-eight-game-shop {
  position: absolute;
  top: 200vw;
  left: 60vw;
}
#item-nine-game-shop {
  position: absolute;
  top: 200vw;
  left: 110vw;
 
}



.flip-box {
  background-image: url('Earth.gif');
  width: 38.5vw;
  height: 54.5vw;
  perspective: 1000px; 
}


.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  color: black;
}


.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}


.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}



.flip-box-back {
 visibility: unset;
  color: white;
  transform: rotateY(180deg);
    background: rgba(0, 0, 0, 0.4);
} 

.checked {
  color: #FF9B38;
}

div.zoomed { 
  transform: scale(0.6);
transform-origin: top left;
-moz-transform: scale(1);
-moz-transform-origin: top left;

} 

